.site-content {
	margin-bottom 	: $size__default-bot-marg;
	width 			: 100%;

	.entry-title {
		color 		: $color__text-entry-title;
		font-family : $font__sans;
	}

	.entry-content {
		margin 	: 0;
	}
}

#wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;

	#content {
		padding: 1em;
	}
}

.content-area {
	width: 100%;
	overflow: auto;

	@media only screen and (min-width: $bp__tablet) {
		width 	: 70%;
		margin 	: 0 2.5% 0 0;
		float 	: left;

		&.sidebar-content {
			float 	: right;	
			margin 	: 0 0 0 2.5%;
		}
	}
}

.widget-area {
	width 	: 100%;
	overflow: auto;

	@media only screen and (min-width: $bp__tablet) {
		width: 27.5%;
		float: right;
	
		&.sidebar-content {
			float 	: left;	
			margin 	: 0 0 0 2.5%;
		}
	}
}