.site-footer {
	background 	: $color__bg-footer;
	color 		: $color__text-footer;
	@include grid-column(12);
	padding 	: 1em;

	a,
	a:visited {
		color: $color__text-footer-links
	}
}

.footer-wrap {
	max-width: $size__max-width;
	margin: 0 auto;
}

.footer-left {
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(3);
	}
}

.site-info {
	text-align: center;
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(6);
	}
}

.footer-right {
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(3);
	}
}