.site-footer {
	@include grid-column(12);
}

.footer-wrap {
	max-width: $size__max-width;
	margin: 0 auto;
}

.footer-left {
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(3);
	}
}

.site-info {
	text-align: center;
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(6);
	}
}

.footer-right {
	@include grid-column(12);

	@media only screen and (min-width: $bp__tablet) {
		@include grid-column(3);
	}
}