.home {

	.site-content {
		margin: 0 auto;
	}

	.content-area {
		width: 100%;
	}

	.map_wrap {
		margin-bottom 	: $size__default-bot-marg;
		overflow 		: auto;
		position 		: relative;

		@media only screen and (max-width: $bp__menu-button) {
			padding-bottom 	: 150px;
		}
	}



/**
 * ??? Styling
 */
/* 	.wpgmza_sl_radius_div,
	select#locationSelect {
		display: none;
	}

	.wpgmza_sl_main_div {
		padding 	: 0.5em;
		width 		: 400px;
		position 	: absolute;
		z-index 	: 1;
		background 	: $color__bg-map-search;
		color 		: $color__text-map-search;
	}

	.wpgmza_sl_query_innerdiv1,
	.wpgmza_sl_query_innerdiv2,
	.wpgmza_sl_query_div,
	.wpgmza_sl_search_button {
		display : inline-block;
		float 	: none;
	}

	.wpgmza_sl_query_innerdiv1,
	.wpgmza_sl_query_innerdiv2 {
		width 	: auto;
		padding : 0 0.5em;
	}

	input.wpgmza_sl_search_button {
		border 		: 2px solid white;
		background 	: transparent;
		box-shadow 	: none;
		color 		: white;
		text-shadow : none;
	} */


/**
 * LocalSEO Store Locator Styling
 */


	#wpseo-storelocator-results {
		display: none;
	}

	.wpseo-map-canvas {
		height: 500px !important;
	}

	#wpseo-storelocator-form {
		padding 	: 1em;
		width 		: 190px;
		position 	: absolute;
		z-index 	: 1;
		background 	: $color__bg-map-search;
		color 		: $color__text-map-search;
		text-align 	: center;

		@media only screen and (max-width: $bp__menu-button) {	
			width 	: 100%;
			bottom 	: 0;
		}


		input[type="text"] {
			width: 100%;
			border-radius: 0;
		}

		p {
			margin-bottom: 1em;
		}
	}

	.sl-submit {

		input[type="submit"] {
			border 			: 2px solid white;
			background 		: transparent;
			box-shadow 		: none;
			color 			: $color__text-map-search;
			text-shadow 	: none;
			border-radius 	: 0;
		}
	}


/**
 * News Section Styling
 */
	.news_title {
		font-family 	: $font__sans;
		text-transform 	: uppercase;
	}

	.news_wrap {
		width 			: 100%;

		.entry-content {
			margin-top: 0;
		}

		.entry-title a {
			text-decoration: none;
		}

		.hentry {
			margin 			: 0 0 1.5em;
			display 		: inline-block;
			margin-right 	: 2%;
			vertical-align 	: top;

			@media only screen and (min-width: $bp__menu-button+1) {	
				width 	: 48%;
			}

			@media only screen and (min-width: $bp__tablet) {	
				width 	: 31.3%;
			}
		}
	}

}