.home {

	.site-content {
		margin: 0 auto;
	}

	.content-area {
		width: 100%;
	}

	.map_wrap {
		margin-bottom 	: $size__default-bot-marg;
		overflow 		: auto;
		position 		: relative;

		@media only screen and (max-width: $bp__menu-button) {
			padding-bottom 	: 150px;
		}

		@media only screen and (min-width: $bp__menu-button) {
			width 	: 48%;
			float 	: left;
		}
	}

/**
 * LocalSEO Store Locator Styling
 */

	@extend %wpseo;

/**
 * News Section Styling
 */
	.news_title {
		font-family 	: $font__sans;
		text-transform 	: uppercase;
		display 		: none;
	}

	.news_wrap {

		@media only screen and (min-width: $bp__menu-button) {
			width 	: 48%;
			float 	: right;
		}

		.entry-content {
			margin-top 	: 0;
		}

		.entry-summary {
			margin-top: 0;
		}

		.entry-title {
			font-size: 30px;

			a {
				text-decoration: none;
			}
		}

		.hentry {
			margin: 0 0 1.5em;
		}
	}

	.soliloquy-container {
		margin-bottom: 2.25em;
	}

}