.home {

	.site-content {
		margin: 0 auto 1.5em;
	}

	.content-area {
		width: 100%;
	}

	.map_wrap {
		margin-bottom 	: $size__default-bot-marg;
		overflow 		: auto;
		position 		: relative;
	}

	.wpgmza_sl_radius_div,
	select#locationSelect {
		display: none;
	}

	.wpgmza_sl_main_div {
		padding 	: 0.5em;
		width 		: 400px;
		position 	: absolute;
		z-index 	: 1;
		background 	: $color__bg-map-search;
		color 		: $color__text-map-search;
	}

	.wpgmza_sl_query_innerdiv1,
	.wpgmza_sl_query_innerdiv2,
	.wpgmza_sl_query_div,
	.wpgmza_sl_search_button {
		display : inline-block;
		float 	: none;
	}

	.wpgmza_sl_query_innerdiv1,
	.wpgmza_sl_query_innerdiv2 {
		width 	: auto;
		padding : 0 0.5em;
	}

	input.wpgmza_sl_search_button {
		border 		: 2px solid white;
		background 	: transparent;
		box-shadow 	: none;
		color 		: white;
		text-shadow : none;
	}

	.promo_wrap {
		@media only screen and (min-width: $bp__tablet) {
			width: 47.5%;
			float: left;
		}
	}

	.promo {
		padding-bottom 	: 175px;
		background 		: gray;
		margin-bottom 	: $size__default-bot-marg;

		@media only screen and (min-width: $bp__tablet) {
			padding-bottom : 320px;
		}
	}

	#promo1 {

	}

	#promo2 {
		
	}

	#promo3 {
		
	}

	.news_wrap {
		margin-bottom 	: $size__default-bot-marg;

		@media only screen and (min-width: $bp__tablet) {
			width: 47.5%;
			float: right;
		}

		.entry-content {
			margin-top: 0;
		}
		.entry-title a {
			text-decoration: none;
		}
	}

	.promo_title,
	.news_title {
		font-family 	: $font__sans;
		text-transform 	: uppercase;
	}
}