.widget {
	margin: 0 0 $size__default-bot-marg;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search {

	.search-submit {
		display: none;
	}

	.search-field {
		width: 98.5%;
	}
}