@mixin storeblock() {
	vertical-align: top;
	margin-bottom: $size__default-bot-marg;

	@media only screen and (min-width: $bp__menu-button+1) {
		width: 47.5%;
		display: inline-block;
	}

	h2 {
		text-transform: uppercase;
	}
}

@mixin footerbox {
	width 			: 100%;
	margin-bottom 	: $size__default-bot-marg;

	@media only screen and (min-width: $bp__menu-button+1) {
		display 		: inline-block;
		vertical-align 	: top;
		overflow 		: auto;
	}
}