ul, 
ol {
	margin: 0 0 $size__default-bot-marg 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom	: 0;
	margin-left		: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em $size__default-bot-marg;
}