$light	: #fff;
$med	: #ccc;
$dark	: #020202;
$red	: #e21a23;
$gray 	: #6D6E70;

// Backgrounds
$color__background-body		: $light;
$color__background-screen	: #f1f1f1;
$color__background-hr		: $gray;
$color__background-button	: #e6e6e6;
$color__background-pre		: #eee;
$color__background-ins		: lighten( $red, 30% );
$color__bg-footer 			: $gray;
$color__bg-widget-title 	: $light;

// Text colors
$color__text-screen			: #21759b;
$color__text-input			: #666;
$color__text-input-focus	: #111;
$color__link				: $red;
$color__link-visited		: darken( $red, 10% );
$color__link-hover			: $gray;
$color__text-main			: $dark;
$color__text-footer 		: $light;
$color__text-footer-links 	: $light;
$color__text-social 		: $light;
$color__text-widget-title 	: $gray;
$color__text-widget-links 	: $dark;

// Border colors
$color__border-button		: $gray $gray #bbb;
$color__border-button-hover	: $gray #bbb #aaa;
$color__border-button-focus	: #aaa #bbb #bbb;
$color__border-input		: $gray;
$color__border-abbr			: #666;
$color__border-widget-title : $red;

// Menu colors
$color__bg-menu-button			: $red;
$color__bg-menu-item-mobile		: $red;
$color__bg-menu-item			: $light;
$color__bg-menu-current			: $red;
$color__text-menu-mobile		: $light;
$color__text-menu				: $dark;
$color__text-menu-hover			: $gray;
$color__text-menu-button		: $light;
$color__text-menu-current		: $light;
$color__text-menu-current-hover	: $gray;
$color__text-submenu 			: $light;

