.nav-social {

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
		text-align 	: center;

		.menu-item {
			display 	: inline-block;
		}
	}

	.icon-menu {

		&:hover {
			> svg {
				fill: $color__svg-social-hover;
			}
		}

		svg {
			fill 	: $color__svg-social;
			width 	: $font__size-social;
			height 	: $font__size-social;
			transition: color 0.3s ease, background 0.3s ease, fill 0.3s ease;
		}
	}
}